@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

.grey {
    color: #A4A6B3;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #f7f8fa;
}

main {
    background-color: red;
}

#divider {
    height: 30px;
    width: 2px;
    margin: 0px 20px 0px;
}

h2 {
    font-size: 24px;
    font-weight: bold
}

h4 {
    font-size: 19px;
}

#profile-name {
    font-weight: bold;
}

